.todo__button--remove {
    position: absolute;
    right: 1em;
    bottom: 1em;
    height: 2em;
    background-color: #ca453c;
    color: white;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 1em
  }
  
  .todo__button--remove:hover {
    background-color: rgb(61, 60, 60);
    color: white;
    cursor: pointer;
  }
  
  .todo__item {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background-color: rgb(132, 209, 129);
    transition: 0.2s;
    border-radius: 0.5em;
    margin: 0.2em 0;
    font-size: 2.2em;
    order: 1;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .todo__item:hover {
    background-color: rgb(133, 186, 131);
    transition: 0.2s;
  }
  
  .todo--completed {
    background-color: rgb(183, 177, 177);
    color: #fff;
    text-decoration: line-through;
    order: 2;
  }
  
  .todo--completed:hover {
    background-color: rgb(140, 136, 136);
    transition: 0.2s;
  }