.item {
  position: relative;
  order: 1;

  background-color: #66b3cb;
  margin: 4px 0;
  padding: 10px 22px;
  border-radius: 10px;
  font-size: 2.2em;
  transition: 0.3s;

  overflow: hidden;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
}

.item:hover {
  background-color: rgb(43, 157, 140);
  transition: 0.3s;
}

.item-done {
  order: 2;
  background-color: rgb(79, 115, 118);
  color: rgb(196, 196, 196);
  text-decoration: line-through;
}

.item-done:hover {
  background-color: rgb(39, 79, 78);
  transition: 0.3s;
}

.item-delete {
  position: absolute;

  border: none;
  background-color: #ff1100;
  color: white;
  height: 30px;
  width: 60px;
  right: 1em;
  bottom: 1em;
  border-radius: 10%;
  transition: 0.3s;

  cursor: pointer;
}

.item-delete:hover {
  background-color: rgb(174, 15, 15);
  color: white;
  cursor: pointer;
}
