* {
  box-sizing: border-box;
}

.app {
  padding: 2% 6%;
  background-color: rgb(255, 255, 255);
}

.app-header {
  background-color: #66b3cb;
  padding: 4% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  font-size: 25px;
}

.app-heading {
  user-select: none;
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .app-heading {
    text-align: center;
  }
}
